.login-form {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
}
.login-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.login-form input {
  margin-top: 8px;
  padding: 8px;
}
.login-form button {
  background: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  cursor: pointer;
  margin-top: 8px;
}
