.gallery {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 100%;
  display: block;
}
