.form-input {
  display: block;
  width: 360px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}
