p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.color-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin-top: 16px;
}
.color-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

button {
  background: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  cursor: pointer;
}
